<section id="contact">
  <h1 class="section-title">Get In Touch</h1>
  <div class="contact-wrapper">
    <div class="contact-map-wrapper">
      <div id="map"></div>
    </div>
    <div class="contact-information-wrapper">
      <ul>
        <li>
          <h5>Address:</h5>
          <i class="material-icons">place</i>
          <a href="#" class="contact-item">10 E. Irving Ave,</br>Oshkosh, WI 54901</a>
        </li>
        <li>
          <h5>Phone Number:</h5>
          <i class="material-icons">phone</i>
          <a href="tel:920-236-3214" class="contact-item">920-236-3214</a>
        </li>
        <li>
          <h5>Email:</h5>
          <i class="material-icons">mail</i>
          <a href="mailto:support@example.com">support@example.com</a>
        </li>
      </ul>
    </div>
  </div>
</section>