<section id="contact">
  <h1 class="section-title">Get In Touch</h1>
  <div class="contact-wrapper">
    <div class="contact-map-wrapper">
      <div id="map"></div>
    </div>
    <div class="contact-information-wrapper">
      <h3>Office Information:</h3>
      <ul>
        <li>
          <div class="contact-item-wrapper">
            <i class="material-icons">place</i>
            <a href="https://goo.gl/maps/fB4UpLaKBjF2" target="_blank" class="contact-item">10 E. Irving Ave,</br>Oshkosh, WI 54901</a>
          </div>
        </li>
        <li>
          <div class="contact-item-wrapper">
            <i class="material-icons">phone</i>
            <a href="tel:920-236-3214" class="contact-item">920-236-3214</a>
          </div>
        </li>
        <li>
          <div class="contact-item-wrapper">
            <i class="material-icons">print</i>
            <a href="#" class="contact-item">920-236-3217 (fax)</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>