<section id="doctor">
  <h1 class="section-title">Meet Your Doctor</h1>
  <div class="doctor-information-wrapper">
    <figure class="doctor-photo">
      <img src="{{ site.baseurl }}assets/images/employee_photos/doctor_c.jpg" alt="Photo of Doctor Ringwala">
    </figure>
    <div class="doctor-information">
      <h3>Kirtida N. Ringwala M.D.</h3>
      <p>Kirtida Ringwala M.D. has been providing medical care to Oshkosh area residents for more than 35 years and is board certified in Internal Medicine.
      </p>
      <p>She provides comprehensive care to all age groups, including physicals and caring for chronic and accute health problems. Beyond serving patients at her private practice, she also treats patients at area hospitals.</p>
      <p>
        Dr. Ringwala finished her Doctorate in 1977. She completed her Postdoctoral training in Internal Medicine and Pediatrics at Illinois Masonic Medical Center, Chicago and St. Joseph Hospital, Chicago. 
      </p>
      <p>
        She was one of the first female physicians in the Fox Valley area and she was a Recipient of the Physician Recognition Award given by American Medical Association. She has participated in numerous medical researches and served as a consultant in several medical product related project.
      </p>
    </div>
  </div>
</section>