<section id="doctor">
  <h1 class="section-title">Meet Your Doctor</h1>
  <div class="doctor-information-wrapper">
    <figure class="doctor-photo">
      <img src="https://placehold.it/240x320" alt="Photo of Doctor Ringwala">
    </figure>
    <div class="doctor-information">
      <h3>Dr. Kirtida N. Ringwala M.D.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa cum deserunt beatae perspiciatis nostrum, sint dolorem illum dignissimos reiciendis quasi quis suscipit. Praesentium ratione, quo modi repellat optio dolor.</p>
      <p>Sapiente maxime harum eligendi pariatur repellendus, atque, similique. Quis laborum incidunt obcaecati esse repellat quisquam soluta, pariatur in, quo quidem delectus culpa voluptates distinctio ad maxime sunt. Blanditiis, numquam est!</p>
      <p>Non necessitatibus veniam aut dolores nulla eum enim quo accusamus modi, cumque ullam, dolorem voluptatibus earum ratione nisi vero! Consequuntur culpa quis deserunt distinctio quia sunt veritatis expedita dolore fugiat.</p>
    </div>
  </div>
</section>