<head>
  <title>{{ site.title }}</title>
  <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <link rel="shortcut icon" href="{{ site.baseurl }}assets/icons/favicon/favicon-32.png">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/main.css">
  <!-- Material Design Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <!-- Open Graph data -->
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article:
  http://ogp.me/ns/article#">
  <meta property="og:title" content="Dr. Kirtida Ringwala" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://drkirtidaringwala.com/" />
  <meta property="og:image" content="http://drkirtidaringwala.com/assets/images/employee_photos/doctor_c.jpg" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:site_name" content="Dr. Kirtida Ringwala" />
  <meta property="fb:app_id" content="DrKNRingwala" />
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="{{ site.description }}">
  <meta name="twitter:site" content="@drkirtidaringwala">
  <meta name="twitter:title" content="Dr. Kirtida Ringwala">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:creator" content="@drkirtidaringwala">
  <!-- Twitter Summary card images must be at least 120x120px -->
  <meta name="twitter:image" content="http://drkirtidaringwala.com/assets/images/employee_photos/doctor_c.jpg">
</head>