<section id="insurance">
  <h1 class="section-title">Accepted Insurers</h1>
  <div class="insurance-information-wrapper">
    <div class="insurance-provider-wrapper">
      <figure class="provider-photo">
        <img src="https://placehold.it/160x160" alt="">
        <h3 class="provider-name">Lorem Ipsum</h3>
      </figure>
    </div>
    <div class="insurance-provider-wrapper">
      <figure class="provider-photo">
        <img src="https://placehold.it/160x160" alt="">
        <h3 class="provider-name">Lorem Ipsum</h3>
      </figure>
    </div>
    <div class="insurance-provider-wrapper">
      <figure class="provider-photo">
        <img src="https://placehold.it/160x160" alt="">
        <h3 class="provider-name">Lorem Ipsum</h3>
      </figure>
    </div>
    <div class="insurance-provider-wrapper">
      <figure class="provider-photo">
        <img src="https://placehold.it/160x160" alt="">
        <h3 class="provider-name">Lorem Ipsum</h3>
      </figure>
    </div>
    <div class="insurance-provider-wrapper">
      <figure class="provider-photo">
        <img src="https://placehold.it/160x160" alt="">
        <h3 class="provider-name">Lorem Ipsum</h3>
      </figure>
    </div>
    <div class="insurance-provider-wrapper">
      <figure class="provider-photo">
        <img src="https://placehold.it/160x160" alt="">
        <h3 class="provider-name">Lorem Ipsum</h3>
      </figure>
    </div>
    <div class="insurance-provider-wrapper">
      <figure class="provider-photo">
        <img src="https://placehold.it/160x160" alt="">
        <h3 class="provider-name">Lorem Ipsum</h3>
      </figure>
    </div>
    <div class="insurance-provider-wrapper">
      <figure class="provider-photo">
        <img src="https://placehold.it/160x160" alt="">
        <h3 class="provider-name">More...</h3>
      </figure>
    </div>
  </div>
</section>