<section id="insurance">
  <h1 class="section-title">Accepted Insurers</h1>
  <small class="disclaimer">* some restrictions apply</small>
  <div class="insurance-information-wrapper">

    {% for insurer in site.data.insurers %}
      <div class="insurance-provider-wrapper">
        <figure class="provider-photo">
          <img src="{{ site.baseurl }}assets/images/insurance_logos/{{ insurer.photo }}" alt="{{ insurer.alt }}">
        </figure>
        <h3 class="provider-name">{{ insurer.name }}</h3>
      </div>
    {% endfor %}

  </div>
</section>