<!-- Header / Desktop & Mobile Navigation -->
    <header>
      <nav class="navigation-wrapper">
        <img src="{{ site.baseurl }}assets/images/logo.svg" alt="Logo" class="navigation-logo">
        <!--<h3>Dr. Kirtida N. Ringwala M.D.</h3>-->
        <div class="desktop-navigation-wrapper" id="desktop-navigation-wrapper">
          <ul>
            <li><a href="#" class="mobile-link">Home</a></li>
            <li><a href="#" class="mobile-link">Blog</a></li>
            <li><a href="#" class="mobile-link">Contact</a></li>
          </ul>
        </div>
      </nav>

      <div class="navigation-icons">
        <a href="tel:{{ site.phone }}" class="call">
          <i class="material-icons">phone</i>
        </a>
        <i class="material-icons" id="mobile-navigation-menu" onClick="toggleMenu()" >menu</i>
        <a href="mailto:{{ site.email }}" class="email">
          <i class="material-icons">email</i>
        </a>
      </div>
    </header>

    <nav class="mobile-navigation-wrapper" id="mobile-navigation-wrapper">
      <i class="material-icons" id="mobile-navigation-close" onClick="toggleMenu()" >close</i>
      <ul>
        <li><a href="#" class="mobile-link">Home</a></li>
        <li><a href="#" class="mobile-link">Blog</a></li>
        <li><a href="#" class="mobile-link">Contact</a></li>
      </ul>
      <div class="copyright">&copy;  {{ site.time | date: '%Y '}} Dr. Kirtida N. Ringwala M.D.</div>
    </nav>