<!-- Header / Desktop & Mobile Navigation -->
    <header>
      <nav class="navigation-wrapper">
        <!--<img src="{{ site.baseurl }}assets/images/logo.svg" alt="Logo" class="navigation-logo">-->
        <h1 class="navigation-title">Kirtida N. Ringwala M.D.</h1>
        <div class="desktop-navigation-wrapper" id="desktop-navigation-wrapper">
          <ul>
            <li><a href="{{ site.baseurl }}" class="mobile-link">Home</a></li>
            <li><a href="#doctor" class="mobile-link">About</a></li>
            <li><a href="#contact" class="mobile-link">Contact</a></li>
          </ul>
        </div>
      </nav>

      <div class="navigation-icons">
        <a href="tel:{{ site.phone }}" class="call">
          <i class="material-icons">phone</i>
        </a>
        <i class="material-icons" id="mobile-navigation-menu" onClick="toggleMenu()" >menu</i>
        <a href="https://goo.gl/maps/8i5nhQhJHFx" target="_blank" class="place">
          <i class="material-icons">place</i>
        </a>
      </div>
    </header>

    <nav class="mobile-navigation-wrapper" id="mobile-navigation-wrapper">
      <i class="material-icons" id="mobile-navigation-close" onClick="toggleMenu()" >close</i>
      <ul>
        <li><a href="{{ site.baseurl }}" class="mobile-link">Home</a></li>
        <li><a href="#doctor" class="mobile-link">About</a></li>
        <li><a href="#contact" class="mobile-link">Contact</a></li>
      </ul>
      <div class="copyright">&copy;  {{ site.time | date: '%Y '}} Kirtida N. Ringwala M.D.</div>
    </nav>