<section id="staff">
  <h1 class="section-title">Meet Your Staff</h1>
  <div class="staff-information-wrapper">

    {% for employee in site.data.employees %}
      <div class="staff-member-wrapper">
        <figure class="staff-photo">
          <img src="{{ site.baseurl }}assets/images/employee_photos/{{ employee.photo }}" alt="Image of Alison Saunders">
        </figure>
        <div class="staff-member-info-wrapper">
          <h3 class="staff-name">{{ employee.name }}</h3>
          <p class="staff-title">{{ employee.title }}</p>
        </div>
      </div>
    {% endfor %}

  </div>
</section>