<section id="staff">
  <h1 class="section-title">Meet Your Staff</h1>
  <div class="staff-information-wrapper">
    <div class="staff-member-wrapper">
      <figure class="staff-photo">
        <img src="{{ site.baseurl }}assets/images/employee_photos/alison.jpg" alt="Image of Alison Saunders">
      </figure>
      <div class="staff-member-info-wrapper">
        <h3 class="staff-name">Alison</h3>
        <p class="staff-title">Office Manager &amp; Medical Billing Coder</p>
      </div>
    </div>
    <div class="staff-member-wrapper">
      <figure class="staff-photo">
        <img src="{{ site.baseurl }}assets/images/employee_photos/julie.jpg" alt="Image of Julie Kerr">
      </figure>
      <div class="staff-member-info-wrapper">
        <h3 class="staff-name">Julie</h3>
        <p class="staff-title">Financial Manager</p>
      </div>
    </div>
    <div class="staff-member-wrapper">
      <figure class="staff-photo">
        <img src="{{ site.baseurl }}assets/images/employee_photos/jenn.jpg" alt="Image of Jenn Millard">
      </figure>
      <div class="staff-member-info-wrapper">
        <h3 class="staff-name">Jenn</h3>
        <p class="staff-title">Medical Assistant</p>
      </div>
    </div>
    <div class="staff-member-wrapper">
      <figure class="staff-photo">
        <img src="{{ site.baseurl }}assets/images/employee_photos/danie.jpg" alt="Image of Danielle Oskar">
      </figure>
      <div class="staff-member-info-wrapper">
        <h3 class="staff-name">Danielle</h3>
        <p class="staff-title">Office Receptionist</p>
      </div>
    </div>
  </div>
</section>