<section id="staff">
  <h1 class="section-title">Meet Your Staff</h1>
  <div class="staff-information-wrapper">
    <div class="staff-member-wrapper">
      <figure class="staff-photo">
        <img src="https://placehold.it/160x240" alt="Image of Alison Saunders">
        <h3 class="staff-name">Alison Saunders</h3>
        <p class="staff-title">Office Manager &amp; Medical Billing Coder</p>
      </figure>
    </div>
    <div class="staff-member-wrapper">
      <figure class="staff-photo">
        <img src="https://placehold.it/160x240" alt="Image of Julie Kerr">
        <h3 class="staff-name">Julie Kerr</h3>
        <p class="staff-title">Financial Manager</p>
      </figure>
    </div>
    <div class="staff-member-wrapper">
      <figure class="staff-photo">
        <img src="https://placehold.it/160x240" alt="Image of Jenn Millard">
        <h3 class="staff-name">Jenn Millard</h3>
        <p class="staff-title">Medical Assistant</p>
      </figure>
    </div>
    <div class="staff-member-wrapper">
      <figure class="staff-photo">
        <img src="https://placehold.it/160x240" alt="Image of Danielle Oskar">
        <h3 class="staff-name">Danielle Oskar</h3>
        <p class="staff-title">Office Receptionist</p>
      </figure>
    </div>
  </div>
</section>