// Contact Section Styling

section#contact
  width: 100%

.contact-wrapper
  width: 100%
  max-width: 100%
  display: flex
  flex-direction: column-reverse
  justify-content: space-between

.contact-map-wrapper
  width: 100%
  height: 100%
  #map
    height: 320px
    width: 100%
    border-radius: $border-radius

.contact-information-wrapper
  ul
    padding: 0
    margin: 0
    list-style: none
    li
      width: 80%
      max-width: 80%
      margin: 0 auto
      padding-bottom: .5rem
      h5
        margin: 0
      .contact-item
        display: inline-block